.table-container {

    display: flex;
    justify-content: center;
    align-items: center;

}

table {
    margin: 50px auto;
    border: 1px solid lightgray;
    border-collapse: collapse;
}

td {
    border: 1px solid black;
    height: min(30px, 2.6vw);
    width: min(30px, 2.6vw);
    text-align: center;
    background-color: rgb(195, 195, 194);
    cursor: pointer;
    font-size: min(16px, 2.2vw)
}

.stats {
    display: flex;
    justify-content: center;
    align-items: center;
    margin-top: 50px;
    margin-bottom: 20px;
    border: 1px solid rgb(64, 39, 39);
    border-radius: 15%;
    padding: 10px;
    background-color: azure;
}

.difficulty-container {
    display: flex;
    justify-content: center;
    align-items: center;
    gap: 10px;
}

.difficulty-container button {
    padding: 8px 16px;
    border: 2px solid #999;
    background-color: #a5a566;
    cursor: pointer;
    font-weight: bold;
}

footer {
    display: block;
    position: fixed;
    bottom: 36px;
    left: 36px;
}

h3 {
    display: flex;
    justify-content: center;
    align-items: center;
    margin-bottom: 25px;
}

.game-over-modal {
    height: 300px auto;
    min-height: 300px;
    width: 100px auto;
    display: none;
    background-color: bisque;
    justify-content: center;
    align-items: center;
    font-family: 'Lucida Sans', 'Lucida Sans Regular', 'Lucida Grande', 'Lucida Sans Unicode', Geneva, Verdana, sans-serif;
    font-size: 22px;
    font-weight: bold;
    color: black;
    gap: 10px;
}

.smiley-zone {
    margin-left: 40px;
    font-size: 30px;
    cursor: pointer;
    width: fit-content;
    position: fixed;
}

.revealed {
    background-color: darkgray
}

.cell-type-1 {
    color: blue;
    font-weight: bold;

}


.cell-type-2 {
    color: green;
    font-weight: bold;
}


.cell-type-3 {
    color: red;
    font-weight: bold;

}

.leaderboard {
    position: fixed;
    right: 120px;
    top: 160px;
}


.row {
    border: 1px solid black;
    font-size: 18px;
    padding: 10px
}

.leaderboard table {
    border-collapse: collapse;
}


.leaderboard td {
    border: 1px solid black;
    padding: 8px 15px;
    text-align: center;
    background-color: rgba(244, 212, 52, 0.26);
}

.leaderboard th {
    font-weight: bold;
    border: 1px solid black;
    padding: 8px 15px;
    text-align: center;
    background-color: rgba(52, 122, 244, 0.28);
}


.hints .header {
    font-size: 20px;

}

.hints {
    font-size: 30px;
    margin: auto;
    border: 2px solid black;
    padding: 10px;
    width: 180px;
    border-radius: 16%;
    background-color: rgba(159, 78, 19, 0.357);


}

.hints span {
    cursor: pointer;
}

.used {
    filter: brightness(0.4) saturate(0);
}