.table-container {

    display: flex;
    justify-content: center;
    align-items: center;
}

table {
    margin: 100px auto;
    border: 1px solid lightgray;
    border-collapse: collapse;
}

td {
    border: 1px solid;
    height: 30px;
    width: 30px;
    text-align: center;
    background-color: rgb(195, 195, 194);
    cursor: pointer;
}

.stats {
    display: flex;
    justify-content: center;
    align-items: center;
    margin-top: 50px;
    margin-bottom: 20px
}

.difficulty-container {
    display: flex;
    justify-content: center;
    align-items: center;
    gap: 10px
}

footer {
    display: block;
    margin-top: 150px
}

h3 {
    display: flex;
    justify-content: center;
    align-items: center;
    margin-bottom: 25px;
}

.game-over-modal {
    height: 300px auto;
    min-height: 300px;
    width: 100px auto;
    display: none;
    background-color: bisque;
    justify-content: center;
    align-items: center;
    font-family: 'Lucida Sans', 'Lucida Sans Regular', 'Lucida Grande', 'Lucida Sans Unicode', Geneva, Verdana, sans-serif;
    font-size: 22px;
    font-weight: bold;
    color: black;
}

.smiley-zone {
    margin-left: 40px;
    font-size: 30px;
    cursor: pointer;
}

.revealed {
    background-color: darkgray
}